html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header{
    color:blue;
}
.gallery{
    display:flex;
    justify-content:space-around;
}
.header{
    display:flex;
    justify-content:center;
}
.navbar{
    display:flex;
    justify-content:space-around;
}
.footer{
    display:flex;
    justify-content:space-around;
}
.gif1{
    display:flex;
    justify-content: center;
    }
body{
    background-color:#00FFFF;
}
.aboutMain{
   display:flex;
}
.aboutPic{
    width:600px;
    height:100%;
    display:flex;
    justify-content:center;
}
.galleryMain{
    display:flex;
}
.galleryPic{
     width:600px;
    height:100%;
    display:flex;
    justify-content:center;
}
